.custom-password .p-password-input {
    background-color: transparent !important; 
    color: white !important; 
    border-color: white !important; 
}

.custom-password .p-password-input::placeholder {
    color: white !important;
    opacity: 1; 
}

.custom-otp-input .p-inputtext {
    background-color: transparent !important; /* Fond transparent */
    border: 1px solid white !important; /* Bordure blanche */
    width: 60px; /* Largeur spécifique pour chaque champ (ajustez si nécessaire) */
    box-sizing: border-box; /* Pour inclure la bordure dans la largeur totale */
    height: 50px; /* Hauteur des champs, ajustez selon vos besoins */
    color: white; /* Couleur du texte */
}

.custom-otp-input .p-inputtext:focus {
    border-color: white; /* Bordure blanche lors du focus */
    outline: none; /* Supprime le contour par défaut */
}


