.custom-input-search:focus {
    outline: none;
    box-shadow: none;
}

.custom-tabmenu .p-tabmenu {
    background-color: black; 
    border-radius: 5px;
}

.custom-tabmenu .p-tabmenu .p-tabmenu-nav li {
    background-color: transparent; 
    border: none;
}

/* Style pour l'onglet actif */
.custom-tabmenu .p-tabmenu-nav .p-highlight {
    background-color: black; /* Couleur de fond de l'onglet actif */
    color: white; /* Couleur du texte de l'onglet actif */
}

/* Hover effect sur les onglets */
.custom-tabmenu .p-tabmenu-nav li:hover {
    background-color: transparent; /* Couleur au survol des onglets */
}

.custom-tabmenu .p-tabmenuitem .p-highlight {
    background-color : black;
}
