.custom-password-input .p-password input::placeholder {
    color: white;
    opacity: 1; /* Rend le placeholder bien visible */
}

.custom-password-input .p-password input {
    background-color: transparent; /* Fond transparent */
    color: white; /* Texte saisi en blanc */
    border-color: white; /* Bordure blanche */
}
