@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'Kanit';
    src: url('/fonts/Kanit/Kanit-Regular.ttf');
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  @apply font-poppins;
  @apply text-sm;
  @apply overflow-hidden;
  @apply bg-blackPure;
  @apply text-white;

  margin : 0;
}

.custom-input::placeholder {
  @apply text-white;
}

