@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'Kanit';
    src: url('/fonts/Kanit/Kanit-Regular.ttf');
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  @apply font-poppins;
  @apply text-sm;
  @apply overflow-hidden;
  @apply bg-blackPure;
  @apply text-white;

  margin : 0;
}

/* Style pour le fond du TabMenu */
.custom-tabmenu .p-tabmenu-nav {
  @apply bg-blackAccent

  border-radius: 5px;
  padding: 5px;
}

/* Style pour chaque onglet */
.custom-tabmenu .p-tabmenu-nav li {
  background-color: #e0e0e0; /* Couleur de fond par défaut des onglets */
  border-radius: 4px;
  margin-right: 4px;
}

/* Style pour l'onglet actif */
.custom-tabmenu .p-tabmenu-nav .p-highlight {
  background-color: #007ad9 !important; /* Couleur de fond de l'onglet actif */
  color: white !important; /* Couleur du texte de l'onglet actif */
  font-weight: bold;
}

/* Effet de survol sur les onglets */
.custom-tabmenu .p-tabmenu-nav li:not(.p-highlight):hover {
  background-color: #d0d0d0; /* Couleur au survol des onglets */
}




